/* Fixes footer to the bottom of the page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.navbar-custom {
    background: linear-gradient(110deg, white 30%, #03045E 70%);
}

.menu-link {
    color: #90E0EF;
    padding-right: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu-link:hover {
    color: white;
}

#main-logo {
    width: 240px;
    height: 73.5px;
}